<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand center" href="#">marQueed</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#designs">Designs</a></li>
        <li><a href="#" id="show_friends" data-controls-modal="my-modal" >Friends</a></li>
      </ul>
    </div>
  </div>
</div>