/* mixins */
@mixin input-gradient ($grad, $grad-stop, $stop-px, $to-px) {
  background-color: $grad;
  background-image: -webkit-gradient(linear, left top, left bottom, from($grad), color-stop(4%, $grad-stop), to($grad));
  background-image: -webkit-linear-gradient(top, $grad, $grad-stop $stop-px, $grad $to-px);
  background-image:    -moz-linear-gradient(top, $grad, $grad-stop $stop-px, $grad $to-px);
  background-image:     -ms-linear-gradient(top, $grad, $grad-stop $stop-px, $grad $to-px);
  background-image:      -o-linear-gradient(top, $grad, $grad-stop $stop-px, $grad $to-px);
  background-image:         linear-gradient(top, $grad, $grad-stop $stop-px, $grad $to-px);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$grad', EndColorStr='$end');
}
@mixin input-box-shadow {
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(255,255,255,0.7) inset;
}
@mixin border-radius-all($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@mixin absolute-center ($width, $height, $padding) {
  width: $width;
  height: $height;
  top: 50%;
  left: 50%;
  margin: { top: -(($height + $padding * 2) / 2); left: -(($width + $padding * 2) / 2); }
}

$font_family: 'Lucida Grande', Tahoma, Helvetica, Arial, Verdana, Sans-serif;
$primary_color: black;
$secondary_color: #248eed;
$padding: 25px;

// Main CSS
html, body {
  $bgcolor: white;
  $bggrad: #3b3b3b;
  height: 100%;
  width: 100%;
  background-color: $bgcolor;
  font-family: $font_family;
  font-size: 12px;
  color: $primary_color;
  padding-top: 40px;
}

h1, h2, h3, h4, h5 {
  font-family: 'MuseoSlab500', $font_family;
  text-shadow: 1px 1px 2px black;
  color: $primary_color;
}
h1 {
  font-size: 24px;
  margin: 0 0 15px;
}
h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

p {
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: 'MuseoSlab500';
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
  &:hover { color: lighten($secondary_color, 10%); }
}

.flash {
  text-align: center;
  margin: 10px 0 0;
  text-shadow: 1px 1px 2px black;
  font-family: 'MuseoSlab500';
}
.flash.success { color: green; }
.flash.error { color: red; }

#container {
  position: fixed;
//  background: transparent image-url("splash/noise.png") repeat;
  height: 100%;
  width: 100%;
}
#background {
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
  z-index: 0;
}
#background img {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  min-width:50%;
  min-height:50%;
}
#logo {
  text-align: center;
}

#friend-box {
  display: none;
  position: absolute;
  height: 390px;
  width: 310px;
  top: 19%;
  left: 37%;
  z-index: 101;
  opacity: 1;
  text-align: left;
}

#my-modal {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: black;
  opacity: 0.6;
  position: absolute;
}

#close {
  float: right;
  z-index: 101;
  margin-top: -15px;
}

#friends {
//  display: none;
  height: 355px;
  width: 275px;
  overflow: scroll;
  margin: 0 auto;
  border: 1px solid darkgrey;
  top: 20%;
  left: 39%;
  z-index: 1000;
  background-color: #DCECF0;
  border-radius: 5px;
}

#fb-friend {
  border-bottom: 1px solid darkgrey;
  padding: 5px 5px 0px 5px;
}

#fb-name {
  padding: 10px;
  font-family: 'MuseoSlab500', arial;
  display: inline;
}

.center {
  text-align: center;
}

.fb-comments .fb_iframe_widget{
  display: none;
}

#facebook_com {
  display: none;
}

#upload {
  display: none;
}

// signup

.icon.facebook {
  background: image-url("signup-facebook.png");
  width: 186px; 
  height: 46px; 
  display: inline-block;
}

// fonts

@font-face {
    font-family: 'MuseoSlab500';
    src: url('/assets/museo_slab_500-webfont.eot');
    src: url('/assets/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/museo_slab_500-webfont.woff') format('woff'),
         url('/assets/museo_slab_500-webfont.ttf') format('truetype'),
         url('/assets/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: thin;
    font-style: thin;
}
